<mat-form-field class="form-group">
    <input class="form-control"
        matInput 
        [matDatepicker]="picker"
        [value]="innerValue"
        [textMask]="mask" 
        (blur)="onBlur()" 
        (keyup.enter)="onBlur()" 
        (dateChange)='toDate($event.target.value)' 
        [readonly]="readonly" 
        [placeholder]="placeholder" 
        [disabled]="disabled" 
        [required]="required">
    <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="readonly"></mat-datepicker-toggle>
    <mat-datepicker (closed)="onChange()" #picker [disabled]="disabled"></mat-datepicker>
    <mat-hint *ngIf="shouldShowErrors()" class="text-danger"> 
        <span *ngFor="let error of listOfErrors() | slice:0:1">{{error}}</span>
    </mat-hint>
</mat-form-field>