<app-loading [loading]="loading"></app-loading>
<div fxLayout="row wrap">
    <mat-card fxFlex="100">
        <mat-card-header>
            <mat-card-title>Filtros</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row wrap" [formGroup]="form">
            <mat-form-field fxFlex="100" style="padding: 0 15px;">
                <mat-label>Selecione um pico...</mat-label>
                <mat-select formControlName="spot_name">
                    <mat-option *ngFor="let item of list_spots['default'];" [value]="item.spot_name">{{item.text}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex="initial" style="padding: 0 15px;">
                <mat-checkbox formControlName="show_swells">Mostrar 3 Swells <small>(avançado)</small> </mat-checkbox>
            </div>
        </mat-card-content>
    </mat-card>

    <app-chart1 fxFlex="100" fxFlex.xs="100" [forecast]="forecast"></app-chart1>

    <mat-card fxFlex="100">
        <mat-card-content fxLayout="row wrap" [formGroup]="form">
            <table fxFlex="100" mat-table [dataSource]="itemsDS">
                <ng-container matColumnDef="date" [sticky]="true">
                    <th mat-header-cell *matHeaderCellDef> Data e Hora </th>
                    <td mat-cell *matCellDef="let item"> {{item.date | date: 'EE, d/MM - HH:mm'}} </td>
                </ng-container>
                <ng-container matColumnDef="energy">
                    <th mat-header-cell *matHeaderCellDef> Energia (kJ) </th>
                    <td mat-cell *matCellDef="let item; let i = index;" style="text-align: center;">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="40" class="intensity" [ngStyle]="getStyle(item.forecast?.energy, 0, 6000)">
                                {{item.forecast?.energy}}</div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="rating">
                    <th mat-header-cell *matHeaderCellDef> Pontuação </th>
                    <td mat-cell *matCellDef="let item; let i = index;" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="initial" class="rating">
                            <span>{{item.forecast?.rating}}</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="period">
                    <th mat-header-cell *matHeaderCellDef> Período (s) </th>
                    <td mat-cell *matCellDef="let item; let i = index;" style="text-align: center;">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="40" class="intensity" [ngStyle]="getStyle(item.forecast?.period, 7, 20)">
                                {{item.forecast?.period}}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="wave">
                    <th mat-header-cell *matHeaderCellDef> Onda (m) </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <span fxFlex="initial">{{item.forecast?.wave_height}} / <b>{{item.forecast?.wave_direction}}</b></span>
                            <img fxFlex="initial" *ngIf="item.forecast?.wave_direction" [src]="getDirectionImg(item.forecast?.wave_direction)">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="wind">
                    <th mat-header-cell *matHeaderCellDef> Vento (km/h) </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
                            <span fxFlex="initial">{{item.forecast?.wind_speed}} / <b>{{item.forecast?.wind_direction}}</b></span>
                            <img fxFlex="initial" *ngIf="item.forecast?.wave_direction" [src]="getDirectionImg(item.forecast?.wave_direction)">
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="wind_state">
                    <th mat-header-cell *matHeaderCellDef> Estado do Vento </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.forecast?.wind_state == 'glass'" class="label label-primary">GLASS</span>
                        <span *ngIf="item.forecast?.wind_state == 'off'" class="label label-success">TERRAL</span>
                        <span *ngIf="item.forecast?.wind_state == 'cross-off'" class="label label-success">TERRAL CRUZADO</span>
                        <span *ngIf="item.forecast?.wind_state == 'cross'" class="label label-warning">CRUZADO</span>
                        <span *ngIf="item.forecast?.wind_state == 'cross-on'" class="label label-danger">MARAL CRUZADO</span>
                        <span *ngIf="item.forecast?.wind_state == 'on'" class="label label-danger">MARAL</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="swl1">
                    <th mat-header-cell *matHeaderCellDef> Swell 1 </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.forecast?.swell_1?.wave_height">{{item.forecast?.swell_1?.wave_height}}m </span>
                        <span *ngIf="item.forecast?.swell_1?.wave_direction"><b>{{item.forecast?.swell_1?.wave_direction}} </b>
                        </span>
                        <span *ngIf="item.forecast?.swell_1?.period">{{item.forecast?.swell_1?.period}}s </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="swl2">
                    <th mat-header-cell *matHeaderCellDef> Swell 2 </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.forecast?.swell_2?.wave_height">{{item.forecast?.swell_2?.wave_height}}m </span>
                        <span *ngIf="item.forecast?.swell_2?.wave_direction"><b>{{item.forecast?.swell_2?.wave_direction}} </b>
                        </span>
                        <span *ngIf="item.forecast?.swell_2?.period">{{item.forecast?.swell_2?.period}}s </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="swl3">
                    <th mat-header-cell *matHeaderCellDef> Swell 3 </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.forecast?.swell_3?.wave_height">{{item.forecast?.swell_3?.wave_height}}m </span>
                        <span *ngIf="item.forecast?.swell_3?.wave_direction"><b>{{item.forecast?.swell_3?.wave_direction}} </b>
                        </span>
                        <span *ngIf="item.forecast?.swell_3?.period">{{item.forecast?.swell_3?.period}}s </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="high_tide">
                    <th mat-header-cell *matHeaderCellDef> Maré Alta </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.high_tides">
                            <span *ngFor="let tide of item.high_tides">{{tide.hour}}:{{tide.minutes}} {{tide.value}}m </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="low_tide">
                    <th mat-header-cell *matHeaderCellDef> Maré Baixa </th>
                    <td mat-cell *matCellDef="let item; let i = index;">
                        <span *ngIf="item.low_tides">
                            <span *ngFor="let tide of item.low_tides">{{tide.hour}}:{{tide.minutes}} {{tide.value}}m </span>
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
            <p fxFlex="100" *ngIf="!itemsDS.data?.length" style="text-align: center; font-size: 12px;">Nenhuma previsão encontrada.</p>
        </mat-card-content>
    </mat-card>
</div>
<!-- <pre>{{list_spots | json}}</pre> -->
<!-- <pre>{{forecast | json}}</pre> -->