.teste {
    background: "#00FFFF";
    background: "#00DEFF";
    background: "#00B5FF";
    background: "#00FFCD";
    background: "#00FF9A";
    background: "#00FF00";
    background: "#9AFF00";
    background: "#CDFF00";
    background: "#FFFF00";
    background: "#FFCD00";
    background: "#FF9A00";
    background: "#FF6600";
    background: "#FF0000";
    background: "#B12E5F";
    background: "#CF1F8F";
    background: "#B500B8";
}