/* You can add global styles to this file, and also import other style files */
th.mat-header-cell,
td.mat-cell {
    text-align: center !important;
    font-size: 12px;
}

th.mat-header-cell,
th.mat-footer-cell {
    font-weight: 500;
    color: black !important;
    text-align: center;
    justify-content: center;
}

th.mat-header-cell:first-child,
td.mat-cell:first-child,
th.mat-footer-cell:first-child {
    padding-left: 10px;
}

th.mat-header-cell:last-child,
td.mat-cell:last-child,
th.mat-footer-cell:last-child {
    padding-right: 10px;
}

tr.mat-row,
tr.mat-footer-row {
    height: 28px !important;
}

b {
    font-weight: 600 !important;
}

input:read-only {
    color: darkgrey;
}

mat-toolbar.topbar.telative.mat-toolbar.mat-primary.mat-toolbar-single-row {
    height: 44px;
}

.mat-menu-item {
    line-height: 36px !important;
    height: 36px !important;
}

.mat-option {
    line-height: 2.5em !important;
    height: 2.5em !important;
    color: black !important;
}

.mat-option:hover {
    background: rgba(0, 0, 0, 0.05) !important;
}

.mat-calendar-body-begin-range:not(.mat-calendar-body-end-range) {
    border-radius: 100% 0 0 100%;
    background-color: #20b14a4a;
}

.mat-calendar-body-end-range:not(.mat-calendar-body-begin-range) {
    border-radius: 0 100% 100% 0;
    background-color: #20b14a4a;
}

.mat-calendar-cell-semi-selected {
    background-color: #20b14a4a;
}
